<nav class="navbar navbar-expand-lg navbar navbar-light sticky-top" style="background-color:rgb(212, 227, 255)">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo.jpg" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active text-dark text-uppercase font-weight-bold" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold" href="#">NEWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-uppercase font-weight-bold" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
