<div class="text-white bg-dark mb-3">
  <div class="container">
    <div class="row">
      <div class="panel col-md-3 col-sm-12 mtb">
        <div class="nav mtb flex-column">
          <a class="nav-link text-white " href="#">Home</a>
          <a class="nav-link text-white " href="#">About Us</a>
          <a class="nav-link text-white " href="#">Services</a>
          <a class="nav-link text-white " href="#">News</a>
          <a class="nav-link text-white " href="#">Contact Us</a>
        </div>
      </div>
      <div class="panel col-md-5 col-sm-12 mtb">
        <h5>Contact Us</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p><strong>Email:</strong>
          hello@company.com</p>
        <p>
          <strong>Phone:</strong>
          +123456789</p>
        <p>
          <strong>Mail:</strong>
          20 Lorem ipsum dolor sit amet<br> consectetur adipisicing elit</p>
      </div>
      <div class="panel col-md-3 col-sm-12 mtb">
        <h5>NewsLetter</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row mx-auto" style="background-color:rgb(212, 227, 255)">
    <div class="container">
      <p class="text-center text-dark">Copyrights@ All Right Reserved</p>
    </div>
  </div>
</div>
