<div class="container">
  <div class="row">
    <div class="col-2" style="background-color: #e7edf1;">
      <div class="container">
        <div class="nav mt flex-column">
          <h6 class="text-uppercase mth ">Services</h6>
          <h6 class="text-uppercase mth ">Air Delivery</h6>
          <h6 class="text-uppercase mth ">Ground shipping</h6>
          <h6 class="text-uppercase mth ">Sea Delivery</h6>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="container mt">
        <h4>What We Do</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, commodi sint sequi ad, libero vero itaque atque animi dolorum
          quasi illum autem, earum esse voluptatem laudantium nihil ducimus eveniet! Totam.
        </p>
      </div>
      <div class="row mtb">
        <div class="col-4">
          <img class="card-img-top" src="../../assets/opt_1.jpg" alt="Card image cap">
          <h6 class="font-weight-bold mt">Air Delivery</h6>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, commodi sint sequi ad, libero
            vero itaque atque animi dolorum quasi illum autem, earum esse voluptatem laudantium nihil ducimus eveniet! Totam.
          </p>
        </div>

        <div class="col-4">
          <img class="card-img-top" src="../../assets/opt_2.jpg" alt="Card image cap">
          <h6 class="font-weight-bold mt">Ground shipping</h6>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, commodi sint sequi ad, libero
            vero itaque atque animi dolorum quasi illum autem, earum esse voluptatem laudantium nihil ducimus eveniet! Totam.
          </p>
        </div>
        <div class="col-4">
          <img class="card-img-top" src="../../assets/opt_3.jpg" alt="Card image cap">
          <h6 class="font-weight-bold mt">Sea Delivery</h6>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, commodi sint sequi ad, libero
            vero itaque atque animi dolorum quasi illum autem, earum esse voluptatem laudantium nihil ducimus eveniet! Totam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
